$color-logo: white;
$color-logodetails: rgb(233, 0, 0);
$color-fondo: white;
$color-bgdark: rgb(3, 0, 29);
$color-textcontrastbgdark: white;
$color-bglight: white;
$color-bggris: rgb(228, 228, 228);
$color-bggrislight: rgb(243, 243, 243);