/* estilos de html contacto */

.formulario{
    .g-3{
        justify-content: center;
        h1{
            text-align: center;
        }
        .form-check{
            margin-top: 0;
        }
        .col-md-10{
            padding-bottom: 1rem;
        }
        .col-12{
            padding-left: 0;
            margin-top: 0;
            display: flex;
            justify-content: center;
        }
        #textarea{
            margin-bottom: .4rem;
        }
        .button{
            font-size: 1rem;
            font-weight: bold;
            padding: .4rem;
            padding-left: 4rem;
            padding-right: 4rem;
            margin: .4rem;
            margin-left: 0;
            cursor: pointer;
            background-color: rgb(3, 0, 29);
            border-color: rgb(0, 0, 0);
            border-radius: 5px;
            border: 2px solid rgba(0, 0, 0, 0.5);
            color: $color-textcontrastbgdark;
        }
    }
}
#contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    div{h2{
        margin-bottom: 1rem;
        }
        ul{
            h3{
                font-size: 1.5rem;
            }
            li{
                list-style: none;
            }
        }
    }
}



