.py-5{
    padding-top: 0!important;
    padding-bottom: 0!important;
    .col-style{
        padding: 2rem;
        .herobutons .button{
            font-size: 1rem;
            margin-bottom: 1rem!important;
            margin-top: 1rem;
            @extend %button;
            @extend %button-hover;
        }
        .button-pos{
            margin-top: 1rem;
            bottom: 2rem;
            .button{
                font-size: 1rem;
                margin-bottom: 1rem!important;
                margin-top: 1rem;
                @extend %button;
                @extend %button-hover;
            }
        }
    }
}

